@using Abp.Web.Mvc.Extensions
@{
    ViewBag.ActiveMenu = PageNames.Trainings;
}
@section Styles
{

}
@section Scripts
{
    @Html.IncludeScript("~/Views/Shared/Content/_ControlPanel.js")
}
<div id="update-content">
    @*@Html.Partial("_Pre", Model)*@
</div>