@model Portal.Web.Models.Content.PaginationViewModel

<div class="col-md-12 text-center">
    @(Html.Pager(Model.Results.PageSize, Model.Results.PageNumber, Model.Results.TotalItemCount,
    new AjaxOptions { UpdateTargetId = "update-content", HttpMethod = Model.HttpMethod })
          .Options(x => x
          .DisplayTemplate("_BootstrapPagination")
          .RouteValues(Model.RouteValues)))
</div>
