@using Abp.Web.Mvc.Extensions
@model Portal.Web.Models.Content.Books.DetailBookViewModel
@{
    ViewBag.ActiveMenu = PageNames.Books;
}
@section styles
{

}
@section scripts
{
    @Html.IncludeScript("~/Views/Shared/Content/_ControlPanel.js")
}
<div id="update-content">
    @Html.Partial("_Detail", Model)
</div>
