<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" id="send-button" class="btn btn-success">@L("Send")</button>
</div>