<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="NameCookieContentType" value="CONTENT_TYPE"/>
  <add key="NameCookieScreenWidth" value="SCREEN_WIDTH"/>
  <add key="NameCookieSortingBook" value="SORTING_BOOK_TYPE"/>
  <add key="NameCookieSortingBookDescending" value="SORTING_BOOK_DESCENDING"/>
  <add key="NameCookieSortingTraining" value="SORTING_TRAINING_TYPE"/>
  <add key="NameCookieSortingTrainingDescending" value="SORTING_TRAINING_DESCENDING"/>

  <add key="AuthorsLimit" value="2"/>
  <add key="TagsLimit" value="10"/>
  <add key="TitleLimit" value="70"/> <!--symbols-->

  <add key="PathUploadBooks" value="~/app_data/upload/books/"/>
  <add key="PathUploadTrainings" value="~/app_data/upload/trainings/"/>
  <add key="DefaultImg" value="/Content/images/image-not-found.png"/>

  <!--MIME-->
  <add key="pdf" value="application/pdf"/>
</appSettings>
